<header>
  <h1> Pipes and Directives </h1>
</header>

<label for="text-input"> Enter Some Text </label>
<input  id="text-input" type="text" placeholder="Blah blah blah"
    name="userText" [(ngModel)]="userText">

<div class="text-preview">
  <p> {{ userText }} </p>
  <p> {{ userText | uppercase }} </p>
  <p> {{ userText | lowercase }} </p>

  <!-- "emojify" is our own custom pipe -->
  <p> {{ userText | emojify }} </p>
</div>

<app-crypto-currency></app-crypto-currency>

<h3> Date </h3>

<button (click)="addDay($event)">
  Next Day
</button>

<button (click)="addHour($event)">
  Next Hour
</button>

<p> {{ rightNow }} </p>
<p> {{ rightNow | date }} </p>
<p> {{ rightNow | date:'medium' }} </p>
<p> {{ rightNow | date:'EEEE, MMMM d, y' }} </p>
                 <!-- Saturday, August 5, 2017 -->

<app-rock-search></app-rock-search>


<footer>
  <p> Made with at 💗 Ironhack. </p>
</footer>
